<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  {% if authok %}
  <meta http-equiv="Refresh" content="2"; url='/vote' />
  {% endif %}
</head>
<body>
  <h1>Schueworld Public Web Network Election Database (PWNED)</h1>
  {% if authok %}
  <h2> Authentication success!</h2>
  {% else %}
  <h2> Authentication failed.</h2>
  <p> Make sure you used the correct username and password.</p>
      {% endif %}



</body>
</html>

