<!DOCTYPE html>
<html lang="en">
<head>
  {% if authok %}
  <meta http-equiv="Refresh" content="2"; url='/vote' />
  {% endif %}
</head>
<body>
  <h1>Schueworld Public Web Network Election Database (PWNED)</h1>
  <h2>Thanks for voting.</h2>



</body>
</html>

