
{{#*inline "page"}}

<section id="Header">
    <h1>Welcome to the Schueworld Public Web/Networked Election Database (PWNED)</h1>
    <p>Definitley not a forced acronym and definitley probably mostly secure*.</p>
</section>

<section id="Login">
    
</section>