<!DOCTYPE html>
<html lang="en">
  
<body>
  <h1>Schueworld Public Web: Networked Election Database (PWNED)</h1>


  <div>Please enter your vote.</div><br>
  <form action="/vote", method="post">
  <label for="ssn">candidate:</label><br>
  <input type="text" id="ssn" name="ssn"><br>

  <label for="password">candidate:</label><br>
  <input type="text" id="password" name="password">
  <br>
  <br><input type="submit" value="Submit">
</form>
</body>
</html>

